src/main/resources/time.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.howtodoinjava.com/xml/time"
           targetNamespace="http://www.howtodoinjava.com/xml/time" elementFormDefault="qualified">

    <xs:element name="TimeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TimeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Time" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>